/* прячем скролл */
.hideScroll{
    overflow: hidden;
}


.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,  0.7);
    top: -200%;
    
    /* z-index: 1; */
    
    
}

.backdropActive{
    top: 0;
}

.modal{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -200%;
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: white;
    /* z-index: 0; */
    transition: all 0.8s ease 0s;

}
.modalActive{
    top: 0;
}
.modal__img{
    width: 5%;
    cursor: pointer;
    opacity: 0.8;
    transition: ease 0.2s;
     
}
.modal__col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap{
    width: 50%;
    height: 50%;
    background-color: blue;
    margin:70px auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
}
h1{
    font-size: 30px;
    color: gray;
    margin-top: 10px;
}
#form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.btn{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.form button{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;



}
.form input{
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px; 
    height: 40px;
    
}
.btn submit{
    font-size: 15px;
    color: blue;
}
.modal__col p{
    font-size: 30px;
    color: blue;
    text-align: center;
    font-family: inherit;
    font-weight: bold;   
}